body{

}


div.container div.laptop-banner a{
	padding: 6px 50px 6px 50px;

}

hr.hori{
	width: 200px;
	margin: 20px auto;

}

div.container div.card{
	background-color: #4d4d4d;
	box-shadow: 30px 20px 8px #888888;
	margin: 100px 0 60px 0;
	height: 500px;
	border-radius: 10px;

}

div.container div.card img{

	margin-left: 100px;
	height: 550px;
}

div.container div.card h3{
	color: #fff;
	position: absolute;
	margin-top: 200px;
  
}

div.container div.card p{
	color: #fff;
	position: absolute;
	margin-top: 250px;

}

div.container div.card a{
	position: absolute;
	margin: 300px 0 0 0px;
	padding: 6px 50px 6px 50px;
}

div.WA{
	background-color: ;
	margin: 100px 0 60px 0;
}

div.WA h1{
	font-size: 50px;
	margin-bottom: 30px;

}

div.WA div a{
	margin-bottom: 30px;
	padding: 8px 60px 8px 60px;
}

div.container div a{
	margin-top: 50px;
}

div.desk-div{
	background-color: #e6e6e6;
	margin: 100px 0px 60px 0; 
}

div.desk{
	
	margin-bottom:150px;
	border-radius: 10px;
}

div.desk h1{
	font-size: 50px;
	padding: 20px 0 0 0;
}

/*div.PT{
	border: 1px solid;
	background-color: ;
	height: 400px;
	margin: 0px 0px 100px 0px;
}

div.PT div.vl1{
	border-left: 6px solid black;
	height: 200px;
	margin-left: 50%;
	position: absolute;
}

div.PT div.vl2{
	border-left: 6px solid black;
	height: 200px;
	margin-left: 50%;
	position: absolute;
}

div.PT h2{
	position: absolute;

}

div.PT h1{
	font-size: 60px;
	color: #000;
	margin: 0 0 0 30px;

}*/

div.items{
	background-color: ;
}

div.container div.items-div div{
	margin-bottom: 100px;
	margin-left: 60px;
	width: 300px;
	height: 300px;
	border: 1px solid;
	border-radius: 10px;
}

@media only screen and (max-width: 635px) and (min-width: 428px){
div.container div.items-div div{
	margin: 50px auto;

	
}
}

@media only screen and (max-width: 918px) and (min-width: 660px){
div.container div.items-div div{
	margin: 50px auto;

}
}

@media only screen and (max-width: 1105px) and (min-width: 990px){
div.container div.items-div div{
	
	margin-left: 130px;

}
}

@media only screen and (max-width: 1400px) and (min-width: 1106px){
div.container div.items-div div{
	margin: auto;

}
}

div.container div.items-div div img{
	width: 300px;
	height: 200px;
}

div.container div.items-div div.col div.new{
	background-color: red;
	width: 90px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 10px;
	position: absolute;
	margin: -20px 0px 0px 200px;
}

div.container div.items-div div.col div.new p{
	color: #fff;
	font-size: 22px;
}