/*div.card {
    height: 35em;
}*/


div.card label{
    font-size: 22px;
    font-style: bold;
}

div.card h4,h1{
    display: inline-block;
}
div.card h1{
    float:right;
}

div.carousel img{
    height:25em;
    border-radius: 5px;
}

#CarouselO img{
height:40em;
}
div.col{
    border-radius: 15px;
}
.a {
    fill: none;
}
.b {
    clip-path: url(#a);
}
.d {
    opacity: 0.5;
    isolation: isolate;
}